<section class="{{prefix}}-commercial">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h5>FREE ON THOMPSONBOXING.COM <span class="tbp-seperator">|</span> FACEBOOK LIVE <span class="tbp-seperator">|</span> YOUTUBE CHANNEL</h5>
				<p>Now Available On</p>
				<hr>
				<img src="./assets/images/fight-hub-tv.png" alt="">
			</div>
		</div>
	</div>
</section>
