<div class="{{prefix}}-fix-social d-none d-lg-flex">
	<a href="mailto:info@thompsonboxing.com" target="_blank"><img src="./assets/images/email-us.svg" alt="email us" class="email-us" /></a>
	<ul class="socials">
		<li>
			<a href="#" title="Facebook">
				<img src="./assets/images/facebook.svg" alt="facebook" />
			</a>
		</li>
		<li>
			<a href="#" title="Instagram">
				<img src="./assets/images/instagram.svg" alt="instagram" />
			</a>
		</li>
		<li>
			<a href="#" title="YouTube">
				<img src="./assets/images/youtube.svg" alt="youtube" />
			</a>
		</li>
		<li>
			<a href="#" title="Twitter">
				<img src="./assets/images/twitter.svg" alt="twitter" />
			</a>
		</li>
	</ul>
	<img src="./assets/images/find-us-at.svg" alt="find us at" class="find-us-at" />
</div>
