<div id="{{prefix}}-inplayer-video" class="{{prefix}}-inplayer-video">
	<div class="stripe"></div>
	<div id="inplayer-104946" class="inplayer-paywall"></div>
	<script>
		var paywall = new InplayerPaywall('42b45adc-1cd1-423e-a658-fe895950836b', [{
			id: 104946
		}]);
	</script>
</div>
