<div class="row {{prefix}}-logo">
	<div class="col-12">
		<!--
		<a href="/" aria-label="Home" class="d-block d-md-none mobile">
			<img class="img-fluid" src="assets/images/icon-logo-white-gray.svg" alt="TBP Logo">
		</a>
		-->
		<a href="/" aria-label="Home">
			<img class="img-fluid" src="assets/images/logo-light.svg" alt="TBP Logo">
		</a>
	</div>
</div>
