<section class="{{prefix}}-questions">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-center">
					<div class="faq-head">
						<h2 class="title">How can we help you?</h2>
						<p class="everything">Everything you need to know</p>
					</div>
					<div class="accordion" id="accordionQuestions">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h2 class="mb-0 text-left">
									<button class="d-flex align-items-center justify-content-between btn-link" type="button"
										data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<span class="text">How do I stream the event the day of?</span>
										<span class="icon">
											<div class="wrapper opened">
												<div class="circle">
													<div class="horizontal"></div>
													<div class="vertical"></div>
												</div>
											</div>
										</span>
									</button>
								</h2>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordionQuestions">
								<div class="card-body">
									<p>If you’ve already purchased your pass, just go to thompsonboxing.com where you purchased your pay
										per view pass. You will be able to click on that event when it begins and continue to enjoy your
										purchase.</p>
									<p>If you are not already logged in, click on the content you’ve purchased and log in using the email
										and password you registered with. From there you will be able to enjoy streaming.</p>
									<p>If you haven’t purchased a pass yet, go to the thompsonboxing.com, click on the event you want to
										watch, log in or sign up, and proceed to make your purchase.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h2 class="mb-0 text-left">
									<button class="d-flex align-items-center justify-content-between collapsed btn-link" type="button"
										data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
										<span class="icon">
											<div class="wrapper closed">
												<div class="circle">
													<div class="horizontal"></div>
													<div class="vertical"></div>
												</div>
											</div>
										</span>
									</button>
								</h2>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQuestions">
								<div class="card-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
										wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
									<p>Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
										squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
										labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
										Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
										heard of them accusamus labore sustainable VHS.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h2 class="mb-0 text-left">
									<button class="d-flex align-items-center justify-content-between collapsed btn-link" type="button"
										data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										<span class="text">Collapsible Group Item #3</span>
										<span class="icon">
											<div class="wrapper closed">
												<div class="circle">
													<div class="horizontal"></div>
													<div class="vertical"></div>
												</div>
											</div>
										</span>
									</button>
								</h2>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionQuestions">
								<div class="card-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
										wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
										eiusmod.</p>
									<p>Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
										shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
										ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
										denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
