<section class="{{prefix}}-quote text-center">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<blockquote>
					<i class="fas fa-quote-right {{prefix}}-b-left"></i>
					{{{data.text}}}
					<i class="fas fa-quote-right {{prefix}}-b-right"></i>
				</blockquote>
			</div>
		</div>
	</div>
</section>
