<section class="{{prefix}}-slider">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card mx-auto">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe src="https://player.vimeo.com/video/464028550" width="640" height="360" frameborder="0"
							allow="autoplay; fullscreen"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
