*
!.gitignore

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Whitelist

# Files
!appspec-*
!appspec.yml
!bitbucket-pipelines.yml

# Folders
!deploy
!deploy/**

!wp-content
!wp-content/plugins
!wp-content/plugins/ACF-PHP-Recovery
!wp-content/plugins/ACF-PHP-Recovery/**
!wp-content/plugins/advanced-custom-fields-pro
!wp-content/plugins/advanced-custom-fields-pro/**
!wp-content/plugins/contact-form-7
!wp-content/plugins/contact-form-7/**
!wp-content/plugins/contact-form-cfdb7
!wp-content/plugins/contact-form-cfdb7/**
!wp-content/plugins/custom-post-type-ui
!wp-content/plugins/custom-post-type-ui/**
!wp-content/plugins/disable-gutenberg
!wp-content/plugins/disable-gutenberg/**
!wp-content/plugins/js_composer
!wp-content/plugins/js_composer/**
!wp-content/plugins/regenerate-thumbnails
!wp-content/plugins/regenerate-thumbnails/**
!wp-content/plugins/wordpress-importer
!wp-content/plugins/wordpress-importer/**
!wp-content/plugins/wp-graphql-acf
!wp-content/plugins/wp-graphql-acf/**
!wp-content/plugins/wordpress-seo
!wp-content/plugins/wordpress-seo/**
!wp-content/plugins/wordpress-seo-premium
!wp-content/plugins/wordpress-seo-premium/**
!wp-content/plugins/wp-crontrol
!wp-content/plugins/wp-crontrol/**
!wp-content/plugins/wp-migrate-db-pro
!wp-content/plugins/wp-migrate-db-pro/**
!wp-content/plugins/wp-migrate-db-pro-media-files
!wp-content/plugins/wp-migrate-db-pro-media-files/**
!wp-content/plugins/wp-optimize
!wp-content/plugins/wp-optimize/**
!wp-content/plugins/wp-user-avatars
!wp-content/plugins/wp-user-avatars/**

!wp-content/themes/
!wp-content/themes/tbp
!wp-content/themes/tbp/**

# Hide Extra
node_modules
.DS_Store