<footer id="{{prefix}}-footer">
	<div class="container">
		<div class="row no-gutters justify-content-md-center">
			<div class="col-12 col-md-12 col-lg-4 mb-lg-0 mb-4">
				<img src="assets/images/footer-logo.svg" class="img-fluid mx-lg-0 mx-auto logo" />
				<p class="copyright d-lg-block d-none">©2020 Thompson Boxing Promotion. All Rights Reserved.</p>
			</div>
			<div class="col-12 col-md-6 col-lg-6">
				<div class="contact">
					<h4>Contact us</h4>
					<p>282 South Anita Drive Orange, CA 92868</p>
					<p>
						<span class="phone">P: 714-935-0900</span>
						<span class="fax">F: 714-935-0600</span>
					</p>
					<p>
						<a href="mailto:info@thompsonboxing.com" target="_blank"
							title="Thompson Boxing Promotions">info@thompsonboxing.com</a>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-3 col-lg-2">
				<div class="social">
					<h4>Follow Us</h4>
					<ul>
						<li><a href="" target="_blank">Facebook</a></li>
						<li><a href="" target="_blank">Instagram</a></li>
						<li><a href="" target="_blank">Twitter</a></li>
						<li><a href="" target="_blank">YouTube</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-md-center">
			<div class="col-lg-4 d-none d-md-block"></div>
			<div class="footer-alt-container col-12 col-md-9 col-lg-8">
				<div class="footer-alt-menu text-center text-md-left">
					<ul>
						<li><a href="page.html" target="_blank">Privacy Policy</a></li>
						<li><a href="page.html" target="_blank">Cookies Policy</a></li>
						<li><a href="page.html" target="_blank">Terms & Conditions</a></li>
					</ul>
				</div>
				<p class="copyright d-lg-none">©2020 Thompson Boxing Promotion. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>
