{{#> layouts/base social='no-social' heroClosed=true}}
	<div class="{{global.prefix}}-page {{global.prefix}}-page-policy">
		<div class="shape">
			{{> layouts/page-content
						data=global.policy
						prefix=global.prefix }}
		</div>
	</div>
{{/ layouts/base }}
