{{#> layouts/base title="Single" heroClosed=true}}
	<div class="{{global.prefix}}-page {{global.prefix}}-page-single">
		<div class="shape">
			{{> layouts/single-content
						data=global.single
						prefix=global.prefix }}
		</div>
	</div>
{{/ layouts/base }}
