.#{$prefix}-ask {
	margin-bottom: 80px;

	@media (max-width: 575.98px) {
		@include grid-cleaner;
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 90px;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 112px;
	}

	.form-box {
		padding: 56px 20px;

		@include media-breakpoint-up(md) {
			padding: 56px 94px;
		}

		.top {
			margin-bottom: 32px;

			.title {
				color: $color-woodsmoke;
				font-family: Futura Std;
				font-size: 32px;
				font-style: normal;
				font-weight: bold;
				line-height: 38px;
				margin-bottom: 14px;
				text-align: center;
				text-transform: uppercase;
			}

			p {
				color: $color-woodsmoke;
			}
		}

		.control {
			align-items: flex-end;
			display: flex;
			margin-bottom: 32px;
			position: relative;
			width: 100%;

			textarea,
			input[type="text"],
			input[type="email"] {
				background-clip: padding-box;
				background-color: $color-white;
				border-bottom: 2px solid $color-cardinal;
				border-left: none;
				border-radius: 0;
				border-right: none;
				border-top: none;
				box-shadow: none !important;
				color: $color-woodsmoke;
				display: block;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
				outline: none;
				padding: 12px 0;
				transition: border-color 0.15s ease-in-out;
				width: 100%;

				&:focus {
					border-color: $color-cardinal;
					border-width: medium medium 2px;
				}

				&:focus,
				&:valid:not(:focus) {
					background-color: $color-white;

					~ .floating-label {
						font-size: 13px;
						left: 0;
						opacity: 1;
						top: 0;
						width: 100%;
					}
				}
			}

			.floating-label {
				color: $color-pale-sky;
				left: 10px;
				pointer-events: none;
				position: absolute;
				top: 28px;
				transition: 0.25s ease all;
				width: calc(100% - 10px);

				&:before {
					background-color: $color-green;
					border-radius: 100%;
					content: "";
					height: 8px;
					position: absolute;
					right: 10px;
					top: 6px;
					width: 8px;
				}
			}

			label.error {
				bottom: -26px;
				color: $color-cardinal;
				display: initial;
				font-size: 13px;
				margin-bottom: 0;
				position: absolute;
				text-transform: uppercase;

				& ~ .floating-label {
					&:before {
						background-color: $color-cardinal;
					}
				}
			}
		}

		.input-control {
			height: 64px;

			input[type="text"],
			input[type="email"] {
				height: 44px;
			}
		}

		.textarea-control {
			height: 192px;

			textarea {
				height: 172px;
				resize: none;
			}
		}

		button[type="submit"] {
			align-items: center;
			background: $color-cardinal;
			border: 0;
			border-radius: 0;
			color: $color-white;
			display: flex;
			flex-direction: column;
			font-family: Futura Std;
			font-size: 18px;
			font-style: normal;
			font-weight: bold;
			height: 60px;
			line-height: 28px;
			margin: 0 auto;
			padding: 16px 24px;
			text-transform: uppercase;
			width: 100%;

			@include media-breakpoint-up(md) {
				margin-bottom: 90px;
				width: initial;
			}
		}
		.message {
			border: 2px solid $color-cardinal;
			padding: 5px 10px;

			&.success {
				color: $color-woodsmoke;
			}

			&.error {
				color: $color-cardinal;
			}
		}
	}
}
