.#{$prefix}-slider {
	padding-top: 24px;

	@include media-breakpoint-up(xl) {
		padding-top: 48px;
	}

	.container {
		padding-left: 0;
		padding-right: 0;

		.row {
			margin-left: 0;
			margin-right: 0;

			.card {
				background: transparent;
				border: none;
				width: 100%;
			}
		}
	}
}
