.single-social-share {
	display: none;
	left: 35px;
	position: absolute;
	top: 48px;
	z-index: 1;

	@include media-breakpoint-up(md) {
		display: inline-block;
	}

	ul {
		display: inline-block;
		position: relative;

		&,
		li {
			display: block;
			list-style-type: none;
			list-style: none;
			margin: 0;
			margin-bottom: 35px;
			padding: 0;

			a {
				display: block;
			}
		}
	}

	.share-title {
		color: $color-pale-sky;
		display: inline-block;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 0.18em;
		line-height: 24px;
		margin-left: -18px;
		margin-top: 30px;
		text-transform: uppercase;
		transform: rotate(-90deg);
	}
}
